@use 'variables' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-100: #22c476;
  --color-200: #80ead0;
  --color-300: #52edc6;
  --text-100: #fff;
  --text-200: #121212;
  --bg-100: #121212;
  --bg-200: #fff;
  --bg-300: rgba(255, 255, 255, 0.3);
  background-color: var(--bg-100);
  color: var(--text-100);
  transition: all 0.3s ease-in-out;
  letter-spacing: .2px;
}

::selection {
  background-color: var(--color-100);
  color: var(--accent-100);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-100);
  transition: color 0.3s;
  &:hover {
    color: var(--color-100);
    transition: color 0.3s;
  }
}

section {
  height: 100dvh;
}

.link-absolute {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.divider {
  border: 1px solid;
  border-color: var(--bg-300);
  margin-bottom: -20px;
}

.secondary-text {
  color: var(--bg-300);
}
