:root.light {
  --color-100: #02cb9a;
  --color-200: #80ead0;
  --color-300: #52edc6;
  --accent-100: #f4f4f4;
  --accent-200: #4e4e4e;
  --text-100: #313131;
  --text-200: #222;
  --bg-100: #f4f4f4;
  --bg-200: #f7f7f7;
  --bg-300: #dddada;
}

$opacity: 0.7;

$animation-seconds: 0.7s;
