:root.light {
  --color-100: #02cb9a;
  --color-200: #80ead0;
  --color-300: #52edc6;
  --text-100: #121212;
  --text-200: #fff;
  --bg-100: #fff;
  --bg-200: #121212;
  --bg-300: rgba(18, 18, 18, .3);
}

$opacity: 0.7;

$animation-seconds: 0.7s;
